.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix {
	*zoom: 1;
}


ul{
	padding: 0px;
	margin: 0px;
}

li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a.white:link,
a.white:visited,
a.white:active{
	text-decoration:none;
	color:#FFFFFF;
}

a.white:hover{
	text-decoration:none;
	color:#ffee8d;
}

.button{
	background-color: #465f88;
	color: #fff;
	border: 1px solid #fff; /* 要改 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 10px;
}

