html{
	margin: 0px;
	padding: 0px;
}
body{
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	height: 100%;
}

#my_header{
	height: 60px;
	background-color: rgb(210, 214, 231);
	padding: 20px 0 0 10px;
}

#my_header img{
	vertical-align: middle;
}

#my_banner{
	height: 28px;
}

#my_banner a{
	float: right;
	display: inline-block;
	margin: 0 8px;
	font-size: 12px;
	line-height: 26px;
}

footer{
	height: 20px;
	background-color: rgb(210, 214, 231);
	font-size:12px;
	color:#6E6363;
	padding: 4px 0px;
	text-align: center;

}
