html{
	margin: 0px;
	padding: 0px;
	background-color: #233;

}
body{
	padding: 0px;
	margin: 0px;
	background-color: #111;
	height: 100%;
}

#my_header{
	height: 80px;
	width: 100%;
	background-color: rgb(210, 214, 231)
}