#leftpanel{
	float: left;
	margin: 5px 5px 1px 5px;
}

#device_type{
	margin: 10px;
	color: #0263db;
}

#main_menu>li{
	width: 156px;
	font-size: 13px;
    font-weight: bold;
	color: #FFFFFF;
	background-color: #8EA5CF;
	padding-left:10px;
	border-bottom: 1px solid #fff;
}

#main_menu>li>a{
    display: inline-block;
    height: 30px;
}

#main_menu>li>a>span{
    position: relative;
    top: 25%;
}

.sub_menu{
	padding: 0px;
	margin-left: -10px;
    display: none;
}

.sub_menu li{
	width: 155px;
	border: 1px solid #fff;
	color: #573452;
	font-size: 13px;
	padding: 5px 0 5px 10px;
	background: #fff;
}

.sub_menu li.current,
.sub_menu li:hover
{
    color: #465F88;
    background: #EAEDF8;
}