/*
#menu .current{
	width:145px;
	display:block;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#FFFFFF;
	font-family:Microsoft Yahei,verdana, arial, helvetica, sans-serif, tahoma;
	color:#465F88;
	font-size:13px;
	font-style:normal;
	text-align:left;
	padding:5px 0px 5px 10px;
	
	background:#EAEDF8 url(../../img/arrow3.png) no-repeat 130px;
}
*/
